.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

.main-actividades {
  width: 60%;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.heading-secondary-actividades {
  font-size: 3rem;
  color: #1da099;
  text-align: center;
  border-bottom: 2px solid #1da099;
  display: inline-block;

  padding-bottom: 1rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.cursos-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  column-gap: 4%;
  row-gap: 3%;
  grid-template-columns: repeat(3, 1fr);
}

/*/ /////////////////////////////*/
/*////////MEDIA QUERIES/////////*/
/*/ /////////////////////////////*/
@media (max-width: 1700px) {
  .main-actividades {
    width: 65%;
  }

  .cursos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .cursos-container {
    grid-template-columns: 1fr;
    row-gap: 1%;
  }
}

@media (max-width: 768px) {
  .heading-secondary-actividades {
    font-size: 2.4rem;
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  .heading-secondary-actividades {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
