.container {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.titulo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Assets/biblioteca.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 4rem;
}

.titulo h1 {
  color: white;
  text-align: center;
  font-size: 6.4rem;
  letter-spacing: 0.5rem;
}

main {
  width: 80%;

  margin-left: auto;
  margin-right: auto;
}

main h2 {
  font-size: 3rem;
  color: #5bb0aa;
  text-align: center;

  margin-bottom: 5rem;
}

/*//////////////////////////////*/
/*/ ///////BIBLIOTECARIA/////////*/
/*//////////////////////////////*/
.tituloBibliotecaria {
  margin-top: 10rem;
}

.bibliotecaria {
  border: solid 0.1rem #5bb0aa;
  width: 35%;
  gap: 2rem;
  padding: 4rem;
  margin: 0 auto 10rem auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.imgBibliotecaria {
  border: solid 1px #5bb0aa;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;

  margin: 0 auto 3rem auto;
}

.bibliotecaria p {
  font-size: 2rem;
}

/*/ /////////////////////////////*/
/*////////MEDIA QUERIES/////////*/
/*/ /////////////////////////////*/
@media (max-width: 1500px) {
  .bibliotecaria {
    width: 40%;
  }
}

@media (max-width: 1200px) {
  .bibliotecaria {
    width: 50%;
  }
}

@media (max-width: 1024px) {
  .bibliotecaria {
    width: 60%;
  }
}

@media (max-width: 850px) {
  main h2 {
    font-size: 2.4rem;
  }
  /*/ ///////BIBLIOTECARIA/////////*/
  .bibliotecaria {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .bibliotecaria {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .bibliotecaria {
    width: 90%;
  }
}

@media (max-with: 500px) {
  /* .titulo h1 {
    font-size: 3rem;
  } */

  .bibliotecaria {
    width: 100%;
  }

  .imgBibliotecaria {
    width: 20rem;
    height: 20rem;
  }
}
