.section-congress {
  padding: 2rem 0 6rem;
  text-align: center;
}

.section-congress div {
  max-width: 114rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.heading-secondary,
.heading-tertiary {
  color: var(--main-color);
}

.heading-secondary {
  font-size: 3rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 600;
}

.section-congress div p {
  font-size: var(--paragraph-fontsize);
}

.congresses-timeline {
  padding: 0 0 3rem;
  color: var(--darkest-gray);
}

.congress {
  margin: 2rem auto;
}

.congress:not(:last-child) {
  padding: 4rem 1.2rem;
  border-bottom: 1px solid var(--lightest-gray);
}
.congress-number {
  font-weight: 700;
}

.congress-name {
  font-weight: 500;
  margin: 1rem auto;
}

.congress-date {
  font-weight: 300;
}

.first-congress {
  margin-top: 1.8rem;
  font-size: 2rem;
  font-weight: 600;
}
