.title {
  text-align: center;
}

.heading-secondary {
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
  color: var(--main-color);
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--main-color);
  display: inline-block;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 500;
  color: var(--main-color);
}

.main {
  margin: auto;
  padding: 0 0 4rem;
}

.charges {
  text-align: center;
}

.charge {
  padding: 3.2rem 0;
}

.charge:first-child {
  padding-top: 1rem;
}

.charge p {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 1rem;
  color: #444;
}

.charge-pair {
  background-color: #f5f5f5;
}

@media (max-width: 850px) {
  .heading-secondary {
    font-size: 2.2rem;
  }
}

@media (max-width: 600px) {
  .heading-secondary {
    font-size: 1.8rem;
  }
}
