.container main {
  width: 70%;
  color: #333;
}

h3 {
  color: #5bb0aa;
  font-size: 1.6rem;
}

.heading-terciary {
  font-size: 1.8rem;
}

.history h3 {
  margin: 2.4rem auto 0;
}

.news h3 {
  margin: 2.4rem auto 1.2rem;
}

.heading-quaternary {
  font-size: 1.4rem;
}

.history p,
.news p {
  font-size: 1.8rem;
}

section {
  margin: 2rem 0;
}

.carrousel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  padding-top: 10%;
  padding-bottom: 10%;
}

.carrousel h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 6.4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  width: 90%;
  margin: auto;
}

.associate {
  background-color: #f3f3f3;

  padding: 2.4rem 1.2rem;
  margin-top: 0;
}

.associate div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: auto;
  width: 70%;
}

.associate h3 {
  padding-right: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  gap: 1.4rem;
}

.history p {
  padding: 1rem 2rem;
}

.contact-button:link,
.contact-button:visited,
.adeip-info-button:link,
.adeip-info-button:visited,
.associate-button:link,
.associate-button:visited {
  border: none;
  text-decoration: none;
  color: #fff;
  background-color: #60bfae;
  margin: 1.2rem 0;
  padding: 1.8rem 4.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s;
}

.associate-button {
  font-size: 1.4rem;
}

.contact-button:hover,
.adeip-info-button:hover,
.associate-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.075);
}

.contact-button:active,
.adeip-info-button:active,
.associate-button:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}
