.heading-secondary,
.heading-tertiary {
  color: var(--main-color);
  font-size: 2.2rem;
}

.heading-secondary {
  margin-right: 2rem;
  font-size: 2.4rem;
}

.section-associate {
  background-color: #f3f3f3;
  padding: 3rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

.section-associate div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center;
}

.row p {
  font-size: var(--paragraph-fontsize);
  padding: 2.2rem;
  padding-bottom: 3.6rem;
}

.section-history,
.section-congress {
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.section-congress img {
  padding: 3rem;
}

.btn-associate:link,
.btn-associate:visited {
  border: none;
  color: #fff;
  background-color: var(--main-color);
  margin: 1.2rem 0;
  padding: 1.8rem 4.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  transition: all 0.3s;
}

.btn-associate:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.075);
}

.btn-associate:active {
  transform: translateY(-1px);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.btn:link,
.btn:visited {
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.2s;
  border: none;
  padding: 1.2rem;
}

.btn:hover {
  background-color: #1a8e88;
  cursor: pointer;
}

/* Utilities */
.display--flex-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/**/

/* Media Queries */
@media (max-width: 600px) {
  .section-congress img {
    height: 35rem;
  }
}

@media (max-width: 480px) {
  .section-associate div {
    display: block;
    text-align: center;
  }
  .heading-secondary {
    margin-bottom: 1.2rem;
  }
}
