.cards {
  margin: var(--h-margins-pc);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 7rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media (max-width: 1440px) {
  .cards {
    column-gap: 2rem;
  }
}
@media (max-width: 1024px) {
  .cards {
    margin: var(--h-margins-mob);
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 4rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 800px) {
  .cards {
    gap: 2rem;
    row-gap: 4rem;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 0 10%;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}
