.container {
  text-align: center;
}

.main {
  width: 100%;
}

.title {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../Assets/about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 1.4rem;
}

.title h1 {
  color: white;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

.main p {
  font-size: 1.8rem;
}

.main h2 {
  padding-bottom: 1rem;
  margin-bottom: 2.8rem;
  font-size: 2.4rem;
  color: #5bb0aa;

  border-bottom: 2px solid #5bb0aa;
  display: inline-block;
}

.main h3 {
  margin: 2.4rem auto 1rem;
}

.section div ul li {
  margin-bottom: 14px;
}

.section-pair div,
.section-unpair div {
  padding: 0 15%;
}

.section-pair {
  margin: 2.4rem auto;
  padding: 4rem 1.2rem;
  background-color: #f2f2f2;
}

.section-unpair {
  padding: 1.6rem 1.2rem;
}

.section-pair ul li,
.section-unpair ul li {
  list-style: none;
  font-size: 1.8rem;
}

.benefits p {
  padding-top: 2.4rem;
  font-weight: 600;
  font-size: 1.8rem;
}
