.container {
  text-align: center;
}

.main {
  width: 100%;
}

.main p {
  font-size: var(--paragraph-fontsize);
}

.main h2 {
  padding-bottom: 1rem;
  margin-bottom: 2.8rem;
  font-size: var(--heading-secondary-fontsize);
  color: var(--main-color);

  border-bottom: 2px solid var(--main-color);
  display: inline-block;
}

.main h3 {
  font-size: 2rem;
  margin: 2.4rem auto 1rem;
}

.section div ul li {
  margin-bottom: 14px;
}

.section-pair div,
.section-unpair div {
  padding: 0 15%;
}

.section-pair {
  margin: 2.4rem auto;
  padding: 4rem 1.2rem;
  background-color: #f2f2f2;
}

.section-unpair {
  padding: 1.6rem 1.2rem;
}

.section-pair ul li,
.section-unpair ul li {
  list-style: none;
  font-size: 1.8rem;
}

.benefits p {
  padding-top: 2.4rem;
  font-weight: 600;
  font-size: 1.8rem;
}
