/*/ /////////////////////////////*/
/*/ ///////BOOK/////////*/
/*/ /////////////////////////////*/

.librosContainer {
  width: 95rem;
  border: 1px solid #5bb0aa;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.iconContainer {
  width: 30%;
  text-align: center;
}

.iconLibro {
  width: 10rem;
  height: 10rem;
  color: black;
}

.librosInfoContainer {
  width: 70%;
  text-align: center;
}

.librosInfoContainer h3 {
  font-size: 2.6rem;

  margin-bottom: 2rem;
}

.librosInfoContainer p {
  font-size: 2rem;

  margin-bottom: 1rem;
}

/*/ /////////////////////////////*/
/*////////MEDIA QUERIES/////////*/
/*/ /////////////////////////////*/
@media (max-width: 1280px) {
  .librosContainer {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .librosContainer {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .librosContainer {
    width: 100%;
  }

  .librosInfoContainer h3 {
    font-size: 2.2rem;

    margin-bottom: 2rem;
  }

  .librosInfoContainer p {
    font-size: 1.8rem;

    margin-bottom: 1rem;
  }
}

@media (max-width: 650px) {
  .librosContainer {
    padding: 2rem;
  }

  .iconLibro {
    width: 8rem;
    height: 8rem;
    color: black;
  }

  .librosInfoContainer h3 {
    font-size: 2rem;

    margin-bottom: 2rem;
  }

  .librosInfoContainer p {
    font-size: 1.6rem;

    margin-bottom: 1rem;
  }
}

@media (max-width: 550px) {
  .librosContainer {
    padding: 2rem;
  }

  .iconLibro {
    width: 7rem;
    height: 7rem;
    color: black;
  }

  .librosInfoContainer h3 {
    font-size: 2rem;

    margin-bottom: 2rem;
  }

  .librosInfoContainer p {
    font-size: 1.6rem;

    margin-bottom: 1rem;
  }
}
