/*//////////////////////////////*/
/*/ ///////CURSO/////////*/
/*//////////////////////////////*/
.container-curso {
  width: 49rem;
  /* border: solid 1px black; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.25s;

  padding: 2rem;
  margin-bottom: 3%;
}

.container-curso:hover {
  transform: scale(1.02);
}

.img-curso {
  height: 30rem;
  width: 100%;
  border: solid 0.5px black;

  margin-bottom: 1rem;
}

.ubicacion-curso {
  font-size: 1.4rem;
  text-align: center;
  color: #9b9b9b;

  margin-bottom: 1rem;
}

.nombre-curso {
  font-size: 2.4rem;
  color: #1da099;

  margin-bottom: 2rem;
}

.info-curso {
  font-size: 2rem;
  text-align: center;

  margin-bottom: 3rem;
}

.btn-curso-container {
  text-align: center;
}

.btn-curso {
  font-size: 2rem;
  font-weight: bold;
  width: 50%;
  color: white;
  background-color: #20b2aa;
  border: none;
  transition: all 0.5s;

  padding: 1rem;
}

.btn-curso:hover {
  background-color: #1a8e88;
  cursor: pointer;
}

/*/ /////////////////////////////*/
/*////////MEDIA QUERIES/////////*/
/*/ /////////////////////////////*/
@media (max-width: 1280px) {
  .container-curso {
    width: 45rem;

    padding: 1.5rem;
  }

  .img-curso {
    height: 28rem;
    width: 100%;

    margin-bottom: 1rem;
  }

  .ubicacion-curso {
    font-size: 1.2rem;

    margin-bottom: 1rem;
  }

  .nombre-curso {
    font-size: 2.2rem;

    margin-bottom: 2rem;
  }

  .info-curso {
    font-size: 1.8rem;

    margin-bottom: 3rem;
  }

  .btn-curso {
    font-size: 1.8rem;
    width: 45%;

    padding: 0.8rem;
  }
}

@media (max-width: 1024px) {
  .container-curso {
    width: 35rem;

    padding: 1.3rem;
  }

  .img-curso {
    height: 23rem;
    width: 100%;

    margin-bottom: 1rem;
  }

  .ubicacion-curso {
    font-size: 1.2rem;

    margin-bottom: 0.5rem;
  }

  .nombre-curso {
    font-size: 2rem;

    margin-bottom: 1rem;
  }

  .info-curso {
    font-size: 1.6rem;

    margin-bottom: 1.5rem;
  }

  .btn-curso {
    font-size: 1.6rem;
    width: 50%;

    padding: 0.8rem;
  }
}

@media (max-width: 480px) {
  .container-curso {
    width: 33rem;

    padding: 1.3rem;
  }

  .img-curso {
    height: 23rem;
    width: 100%;

    margin-bottom: 1rem;
  }

  .ubicacion-curso {
    font-size: 1rem;

    margin-bottom: 0.5rem;
  }

  .nombre-curso {
    font-size: 1.8rem;

    margin-bottom: 1rem;
  }

  .info-curso {
    font-size: 1.4rem;

    margin-bottom: 1.5rem;
  }

  .btn-curso {
    font-size: 1.4rem;
    width: 50%;

    padding: 0.8rem;
  }
}
