.header {
  padding: 15px 10% 0 10%;
  /* padding-top: 15px; */
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 2;
}

.header-title {
  text-decoration: none;
  color: var(--dark-gray);
  font-size: 5rem;
  font-weight: 800;
}

.header-nav {
  list-style: none;

  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
  margin-top: 1rem;
}

.header-nav li {
  padding-bottom: 15px;
}

.header-nav span {
  color: lightgray;
}

.burger-button {
  font-size: 4.5rem;
  color: var(--dark-gray);
  transition: all 0.2s;

  display: none;
}

.burger-button:hover {
  cursor: pointer;
  color: var(--accent-color);
}

.li-dropdown {
  position: relative;
}

.li-dropdown span {
  margin-left: 1rem;
}

.dropdown-menu {
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid var(--lightest-gray);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  /* padding: 0.5rem; */
  margin: 0;
  /* opacity: 0; */
  /* pointer-events: none; */
  color: #444;
  transition: all 0.2s;
}

.dropdown-menu li {
  list-style: none;
  padding: 7px 5px;
  border-bottom: 1px solid var(--lightest-gray);
  white-space: nowrap;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .header {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
  }

  .header-nav {
    display: none;
  }

  .burger-button {
    display: block;
  }
}
