.dropdown-menu {
  width: fit-content;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid var(--lightest-gray);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 0;
  color: #444;
  transition: all 0.2s;
}

.dropdown-menu a {
  list-style: none;
  padding: 7px 5px;
  border-bottom: 1px solid var(--lightest-gray);
  white-space: nowrap;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-open {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.dropdown-closed {
  opacity: 0;
  transform: translateY(10%) scale(0.98);
}
