.header {
  padding: 10px 0;
  margin: var(--h-margins-pc);
}

.header-title {
  text-decoration: none;
  color: #444;
  font-size: 5rem;
  font-weight: 800;
}

.header-nav {
  list-style: none;

  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}

.header-nav span {
  color: #d8d8d8;
}

.burger-button {
  font-size: 4.5rem;
  color: #444;
  transition: all 0.2s;

  display: none;
}

.burger-button:hover {
  cursor: pointer;
  color: var(--main-color);
}

@media (max-width: 1000px) {
  .header {
    margin: var(--h-margins-mob);
  }
}

@media (max-width: 710px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }

  .burger-button {
    display: block;
  }
}
