.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #ebebeb;
  /* background-image: url("../Assets/polygon-bg-2-b.jpg"); */
  /* background-image: url("../Assets/polygon-bg-3.jpg"); */
  background-size: cover;
  z-index: 10;
  animation: fade-in 0.2s ease-in forwards;
  padding: 1rem 5%;
}

.container img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  /* filter: blur(3px); */
}

.layout-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-title {
  color: #444;
  font-size: 5rem;
  font-weight: 800;
}

.menu-close {
  font-size: 4.5rem;
  color: #444;
  transition: all 0.2s;
}

.mobile-nav {
  margin-top: 16rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  font-size: 2.8rem;
}

.dropdown-arrow {
  margin-left: 1rem;
  color: var(--dark-gray);
}

.sub-links {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-top: 2rem;
  gap: 2rem;
  /* animation: fade-in 0.4s ease-in forwards; */
}

.fade-slide-enter-active {
  animation: fade-in 0.4s ease-in forwards;
}

.fade-slide-exit-active {
  animation: fade-out 0.4s ease-in forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
