.container {
  width: 100%;
}

.titulo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("../Assets/publicaciones-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;

  padding: 10% 1rem;
}

.titulo h1 {
  font-family: "Century Gothic", sans-serif;
  color: white;
  text-align: center;
  font-size: 6.4rem;
  letter-spacing: 1rem;
}

.title-large {
  font-size: 10rem;
}

.secondary-title {
  margin-top: 2rem;
  color: #fff;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 3rem;
  font-weight: 500;
}

@media (max-width: 850px) {
  .titulo h1 {
    font-size: 4rem;
  }
}

@media (max-width: 600px) {
  .titulo h1 {
    font-size: 3rem;
  }

  h1.title-large {
    font-size: 7rem;
  }

  .secondary-title {
    font-size: 2.4rem;
  }
}
