.card {
  height: fit-content;
  /* width: 28rem; */
  width: fit-content;

  max-width: 100%;
  background-color: #ebebeb;

  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.25s;
}

.card img {
  width: 100%;
}

.div {
  /* height: 100%; */
  min-height: 8rem;
  max-height: 10rem;
  display: flex;
  flex-direction: column;
}

.card h3 {
  text-align: center;
  background-color: white;
  padding: 7px 5px;
  /* flex-grow: 1; */
  color: #444;
  font-weight: 500;
}

.card button {
  font-family: "Century Gothic";
  width: 100%;
  height: fit-content;
  min-height: 5rem;
  /* max-height: 6rem; */
  flex-grow: 1;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card button:hover {
  background-color: var(--main-color-dark);
}
