.card {
  max-height: 30rem;
  background-color: #ebebeb;

  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.25s;
}

.card-img--div {
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.div {
  min-height: 8rem;
  max-height: 10rem;
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.6rem;
  text-align: center;
  background-color: white;
  padding: 7px 5px;
  color: #444;
  font-weight: 500;
}

.card button {
  font-family: "Century Gothic";
  width: 100%;
  height: fit-content;
  min-height: 5rem;
  flex-grow: 1;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card button:hover {
  background-color: var(--main-color-dark);
}

@media (max-width: 480px) {
  .card h3 {
    font-size: 2rem;
  }
}
