* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: lightseagreen;
  --main-color-dark: rgb(28, 155, 149);
  --lightest-gray: #ebebeb;
  --accent-color: #df4d55;
  /* Horizontal margins for header, etc */
  --h-margins-pc: 0 10%;
  --h-margins-mob: 0 5%;
  /* Font Colors */
  --darkest-gray: #222;
  --dark-gray: #444;
  --font-regular: #666;
  /* Font Sizes */
  --paragraph-fontsize: 1.8rem;
  --heading-secondary-fontsize: 3rem;
}

.nav-link,
.nav-link-btn {
  color: #666;
  /* color: #444; */
  font-weight: 500;
  transition: all ease-out 0.1s;
}

.nav-link-btn,
.nav-link-btn--pending,
.nav-link-btn--active {
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--main-color);
  /* color: var(--accent-color); */
}

.nav-link--pending {
  font-weight: 500;
  color: #222;
}

.nav-link--active {
  font-weight: 500;
  color: var(--main-color);
  /* color: rgb(224, 127, 17); */
  /* color: var(--accent-color); */
}

.nav-link-btn--pending,
.nav-link-btn--active {
  color: var(--main-color);
  /* color: var(--accent-color); */
}

.fade-slide-enter {
  opacity: 1;
}
.fade-slide-enter-active {
  animation: fade-in 0.2s ease-in forwards;
}
.fade-slide-exit {
  opacity: 0;
}
.fade-slide-exit-active {
  animation: fade-out 0.2s ease-in forwards;
}

.rotate-arrow-enter-active {
  transform: rotate(90deg);
}
.rotate-arrow-enter {
  transform: rotate(90deg);
}
.rotate-arrow-exit-active {
  transform: rotate(0);
}

.rotate-arrow-enter-done {
  transform: rotate(90deg);
}
.rotate-arrow-exit {
  transform: rotate(0);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(20%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(20%);
  }
}

h1 {
  font-family: "Century Gothic";
}

button {
  font-family: "Montserrat";
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.2s;
  border: none;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-color-dark);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
