* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: lightseagreen;
  --main-color-dark: rgb(28, 155, 149);
  /* Horizontal margins for header, etc */
  --h-margins-pc: 0 10%;
  --h-margins-mob: 0 5%;
}

.nav-link,
.nav-link-btn {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  transition: all ease-out 0.1s;
}

.nav-link-btn,
.nav-link-btn--pending,
.nav-link-btn--active {
  text-decoration: none;
  font-family: "Futura PT";
  font-weight: 450;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--main-color);
}

.nav-link--pending {
  font-weight: 500;
  color: #222;
}

.nav-link--active {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: none;
}

.nav-link-btn--pending,
.nav-link-btn--active {
  color: var(--main-color);
}

button {
  font-family: "Montserrat";
}

button:hover {
  cursor: pointer;
}
