* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;

  --s: 700px; /* control the size*/
  --c1: #fff;
  --c2: #e6e6e6;
  --c3: #c6c6c6;

  --_g: 0 120deg, #0000 0;
}

:root {
  /* Colors */
  --main-color: lightseagreen;
  --main-color-dark: rgb(28, 155, 149);
  --lightest-gray: #ebebeb;
  --accent-color: #df4d55;

  /* Horizontal margins for header, etc */
  --h-margins-pc: 0 10%;
  --h-margins-mob: 0 5%;

  /* Font Colors */
  --darkest-gray: #222;
  --dark-gray: #444;
  --light-gray: #666;

  /* Font Sizes */
  --paragraph-fontsize: 1.8rem;
  --heading-secondary-fontsize: 3rem;

  /* Transitions */
  --dropdown-speed: 300ms;
  --mob-nav-li-adjust: 240px;
  --mob-nav-li-adjust: 260px;
}

/* ////////////////// */
/* BASE STYLES */
/* ////////////////// */

h1 {
  font-family: "Century Gothic";
}

button {
  font-family: "Montserrat";
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.5s;
  border: none;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-color-dark);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ////////////////// */
/* NAVIGATION LINKS STYLING */
/* ////////////////// */

.nav-link {
  color: #666;
  font-weight: 500;
  transition: all ease-out 0.1s;
}

.nav-link:hover {
  color: var(--main-color);
  /* color: var(--accent-color); */
}

.nav-link--pending {
  font-weight: 500;
  color: #222;
}

.nav-link--active {
  font-weight: 500;
  color: var(--main-color);
  /* color: var(--accent-color); */
}

/* ////////////////// */
/* REACT TRANSITION GROUP */
/* ////////////////// */

/* DROPDOWN MENUS CHEVRON */

.rotate-arrow-enter-active {
  transform: rotate(90deg);
}

.rotate-arrow-enter-done {
  transform: rotate(90deg);
}

.rotate-arrow-exit-active {
  transform: rotate(0);
}

.rotate-arrow-exit-done {
  transform: rotate(0);
}

/* ////////////////// */
/* MEDIA QUERIES */
/* ////////////////// */

@media (max-width: 480px) {
  :root {
    --mob-nav-li-adjust: 200px;
  }
}
