* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;

  --s: 700px; /* control the size*/
  --c1: #fff;
  --c2: #e6e6e6;
  --c3: #c6c6c6;

  --_g: 0 120deg, #0000 0;
}

:root {
  --main-color: lightseagreen;
  --main-color-dark: rgb(28, 155, 149);
  --lightest-gray: #ebebeb;
  --accent-color: #df4d55;
  /* Horizontal margins for header, etc */
  --h-margins-pc: 0 10%;
  --h-margins-mob: 0 5%;
  /* Font Colors */
  --darkest-gray: #222;
  --dark-gray: #444;
  --font-regular: #666;
  /* Font Sizes */
  --paragraph-fontsize: 1.8rem;
  --heading-secondary-fontsize: 3rem;
  --dropdown-speed: 300ms;
}

.nav-link,
.nav-link-btn {
  color: #666;
  /* color: #444; */
  font-weight: 500;
  transition: all ease-out 0.1s;
}

.nav-link-btn,
.nav-link-btn--pending,
.nav-link-btn--active {
  font-family: "Futura PT";
  font-weight: 500;
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.nav-link:hover {
  color: var(--main-color);
  /* color: var(--accent-color); */
}

.nav-link--pending {
  font-weight: 500;
  color: #222;
}

.nav-link--active {
  font-weight: 500;
  color: var(--main-color);
  /* color: rgb(224, 127, 17); */
  /* color: var(--accent-color); */
}

.nav-link-btn--pending,
.nav-link-btn--active {
  color: var(--main-color);
  /* color: var(--accent-color); */
}

.fade-slide-enter {
  opacity: 1 !important;
  max-height: 252px !important;
}
.fade-slide-enter-active {
  opacity: 1 !important;
  max-height: 252px !important;
  /* animation: fade-in 0.3s ease-in forwards; */
}
.fade-slide-enter-done {
  opacity: 1 !important;
  max-height: 252px !important;
}
.fade-slide-exit {
  opacity: 0 !important;
  margin-top: 0 !important;
}
.fade-slide-exit-active {
  /* animation: fade-out 0.3s ease-in forwards; */
  /* max-height: 0; */
  margin-top: 0 !important;
}

.fade-slide-exit-done {
  margin-top: 0 !important;
  max-height: 0 !important;
  /* opacity: 0; */
}

.rotate-arrow-enter-active {
  transform: rotate(90deg);
}

.rotate-arrow-enter-done {
  transform: rotate(90deg);
}

.rotate-arrow-exit-active {
  transform: rotate(0);
}

.rotate-arrow-exit-done {
  transform: rotate(0);
}

@keyframes fade-in {
  0% {
    /* opacity: 0; */
    /* transform: translateX(20%); */
    max-height: 0;
  }
  50% {
    /* opacity: 1; */
    /* transform: translateX(0); */
    max-height: 122px;
  }
  100% {
    /* opacity: 1; */
    /* transform: translateX(0); */
    max-height: 252px;
  }
}
@keyframes fade-out {
  0% {
    /* opacity: 1; */
    /* transform: translateX(0); */
    /* height: 252px; */
  }

  50% {
    max-height: 120px;
  }

  100% {
    margin-top: 0;
    max-height: 0;
    /* opacity: 0; */
    /* transform: translateX(20%); */
  }
}

h1 {
  font-family: "Century Gothic";
}

button {
  font-family: "Montserrat";
  background-color: var(--main-color);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 0.5s;
  border: none;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--main-color-dark);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
